@import './variables.scss';

.game__2048-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 500px;
}

.game__2048-container{
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    background-color: $fontColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
    box-shadow: 0;
    transition: box-shadow 0.5s;
}

.game__2048-container[data-side = 'top-left']{
 box-shadow: rgb(167, 159, 159) -30px -30px 20px,
}
.game__2048-container[data-side = 'top-right']{
    box-shadow: rgb(167, 159, 159) 30px -30px 20px,
}

.game__2048-container[data-side = 'bottom-left']{
    box-shadow: rgb(167, 159, 159) -30px 30px 20px,;
}

.game__2048-container[data-side = 'bottom-right']{
    box-shadow: rgb(167, 159, 159) 30px 30px 20px;
}



.game__2048-item-square{
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    background-color: $containerBgColor;
}

.game__2048-container-active-square{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.game_2048-active-square{
    position: absolute;
    display: inline-block;
    background-color: rgb(223, 215, 177);
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s ease, left 0.3s ease, opacity 0.1s ease;
    user-select: none;
    color: #1c1c1c;

    &-4{
        background-color: $color4;
        color:setFontColor($color4);
    }
    &-8{
        background-color: $color8;
        color:setFontColor($color8);
    }
    &-16{
        background-color: $color16;
        color:setFontColor($color16);
    }
    &-32{
        background-color: $color32;
        color:setFontColor($color32);
    }
    &-64{
        background-color: $color64;
        color:setFontColor($color64);
    }
    &-128{
        background-color: $color128;
        color:setFontColor($color128);
    }
    &-256{
        background-color: $color256;
        color:setFontColor($color256);
    }
    &-512{
        background-color: $color512;
        color:setFontColor($color512);
    }
    &-1024{
        background-color: $color1024;
        color:setFontColor($color1024);
        font-size: 30px;
    }
    &-2048{
        background-color: $color2048;
        color:setFontColor($color2048);
        font-size: 30px;
    }

    &-4096{
        background-color: $color4096;
        color:setFontColor($color4096);
        font-size: 30px;
    }

    &-8192{
        background-color: $color8192;
        color:setFontColor($color8192);
        font-size: 30px;
    }

    &-16384{
        background-color: $color16384;
        color:setFontColor($color16384);
        font-size: 30px;
    }

    &-32768{
        background-color: $color32768;
        color:setFontColor($color32768);
        font-size: 30px;
    }

    &-65536{
        background-color: $color65536;
        color:setFontColor($color65536);
        font-size: 30px;
    }

    &-131072{
        background-color: $color131072;
        color:setFontColor($color131072);
        font-size: 25px;
    }

    &-262144{
        background-color: $color262144;
        color:setFontColor($color262144);
        font-size: 25px;
    }

    &-524288{
        background-color: $color524288;
        color:setFontColor($color524288);
        font-size: 25px;
    }
    &-1048576{
        background-color: $color1048576;
        color:setFontColor($color1048576);
        font-size: 25px;
    }
    &-2097152{
        background-color: $color2097152;
        color:setFontColor($color2097152);
        font-size: 25px;
    }
    &-4194304{
        background-color: $color4194304;
        color:setFontColor($color4194304);
        font-size: 25px;
    }
    &-8388608{
        background-color: $color8388608;
        color:setFontColor($color8388608);
        font-size: 25px;
    }
    &-16777216{
        background-color: $color16777216;
        color:setFontColor($color16777216);
        font-size: 25px;
    }
}

