@import './variables.scss';

.game__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding-left: 100px;
    padding-right: 50px;
}

.game__title{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}

.game__2048-container-parameters{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.game__2048-max-score-declaration,
.game__2048-time-declaration,
.game__2048-max-score-value,
.game__2048-time-value,
.game__2048-score-value,
.game__2048-score-declaration{
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
    font-weight: 700;
}
.game__2048-time{
    min-width: 200px;
    display: flex;
    justify-content: center;
}

.game_header-btn-container{
    display: flex;
    gap: 1.5rem;
}