@import './variables.scss';
.game__rules{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    background: linear-gradient(to bottom, #2f519b, #7999cf, #2f519b);
    overflow: hidden;
    color: #1c1c1c;
    transition: width .5s ease-in,
                height .5s ease-in,
                opacity .8s ease-in,
                z-index .5s ease-in,
                transform 1s ease-in,;
}

.game__rules--show{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    opacity: 1;
}
.game__rules-title{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    margin-top: 20px 0;
}
.game__rules-container{
    max-width: 768px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $containerBgColor;
}

.game__rules-close-btn{
    position: absolute;
    padding: 0;
    top: 25px;
    right: 25px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-image: url('../assets/svg/close_black_24dp.svg');
    background-position:  center;
    background-repeat: no-repeat;
    background-size: 70px;
}

.game__rules-close-btn:hover{
    filter: invert(50%) sepia(78%) saturate(4479%) hue-rotate(11deg) brightness(106%) contrast(94%);
}
.game__rules-list{
    overflow-y: auto;
 }

.game__rules-item{
   margin-bottom: 15px;
}