$containerBgColor:#f8ffe5;
$fontColor:#555;

html{
    font-size: 20px;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

.game-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $containerBgColor;
}

.game_2048-container{
    position: relative;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    background-color: $fontColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.game_2048-item-square{
    width: 100%;
    max-width: 100px;
    height: 100%;
    max-height: 100px;
    background-color: $containerBgColor;
}

.game_new-game-btn{
    font-size: inherit;
    font-family: inherit;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: bisque;
    margin-bottom: 100px;
    box-shadow: 7px 7px 7px #1c1c1c;
}

.game_new-game-btn:hover{
    box-shadow: 3px 3px 3px #1c1c1c;
}

.game_2048-active-square{
    position: absolute;
    display: inline-block;
    background-color: antiquewhite;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.3s ease, left 0.3s ease;
}

.move{
    width: 100;
    height: 50;
}