@import '../style/variables.scss';

.game-statistic{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.game-statistic-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.game-statistic-maximum,
.game-statistic-item,
.game-statistic-current,
.game-statistic-head,
.game-statistic-title{
    @include displayFlexStat();
    height: 50px;
}

.game-static-number{
    width: 100px;
    height: 50px;
    border: 1px solid #1c1c1c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.game-statistic-value,
.game-statistic-score,
.game-statistic-steps,
.game-statistic-time{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border: 1px solid #1c1c1c;
}